/** Estructura divida en dos cuadrantes horizontales **/
.golpe{
  background-color: red;
}
.agua{
  background-color: blue;
}

html,body {
   /** 3 zonas**/
  margin: 0;
  height: 100%;
  background-image: url("Hijacked.png");
  background-repeat: no-repeat;
  background-size: cover;
  contain: content;
}


header {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 45, 45, 1) 100%
  );

  color: white;
  margin-bottom: 4%;
}


/** Campos de juego  **/

#campo1 {
  display: grid;
  margin: auto;
  width: 40vw;
  height: 40vw;
  background-color: black;
  color: yellow;

}

/** Tableros **/
#Tablero1{
  border-collapse: collapse; 
  width: 100%;
  border: 4px double yellow;
  background-color: white;
  color: black;
  text-align: center;
  table-layout: fixed;
}
tr,
td {
  border: 2px groove yellow;
}
h1,
p {
  text-align: center;
}
td:hover {
  background-color: red;
  opacity: 0.5;
}
tr:first-child {
  pointer-events: none;
}
td:first-child {
  pointer-events: none;
}
