/** Estructura divida en dos cuadrantes horizontales **/
.golpe{
  background-color: red;
}
.agua{
  background-color: blue;
}

.barco{
  width: 50px;
  height: 10px;
  position: absolute;
}

body {
  display: grid; /** 3 zonas**/
  margin: 0;
  height: 100%;
  background-image: url("Hijacked.png");
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  grid-area: 1/1/2/3;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 45, 45, 1) 100%
  );

  color: white;
  margin-bottom: 4%;
}


/** Campos de juego  **/

#campo1 {
  grid-area: 2/1/3/2;
  display: grid;
  margin: auto;
  width: 60%; 
  height: 100%;
  background-color: black;
  color: yellow;
  overflow-x: auto; /** para hacerlo responsive**/
}
#campo2 {
  grid-area: 2/2/3/3;
  display: grid;
  margin: auto;
  width: 60%;
  height: 100%;
  background-color: black;
  color: yellow;
  overflow-x: auto; /** para hacerlo responsive**/
}
/** Tableros **/
#Tablero1,
#Tablero2 {
  border-collapse: collapse; /** para hacerlo responsive**/
  width: 100%;
  border: 4px double yellow;
  background-color: white;
  color: black;
  text-align: center;
}
tr,
td {
  border: 2px groove yellow;
}
h1,
p {
  text-align: center;
}
td:hover {
  background-color: red;
  opacity: 0.5;
}
tr:first-child {
  pointer-events: none;
}
td:first-child {
  pointer-events: none;
}
